body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background: #dbdbdb;
}

.container {
  max-width: 600px;
  padding: 0 10px;
  margin: 0 auto;
}

.marafon {
  padding: 10% 0;
  text-align: center;
}

.marafon__title {
  position: relative;
  margin-bottom: 25px;
  font-size: 20px;
  letter-spacing: 1px;
  max-width: 320px;
  width: 100%;
  position: relative;
  display: inline-block;
}

.marafon__title:after {
  content: "";
  position: absolute;
  background: #A6D8CB;
  height: 2px;
  width: 100px;
  top: 115%;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.marafon__title:before {
  content: "";
  position: absolute;
  background: #A6D8CB;
  height: 2px;
  width: 20px;
  top: 135%;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.marafon__topics {
  width: 150px;
  margin: 0 auto;
}

.marafon__wrapper {
  text-align: left;
  height: 30px;
}

.marafon__question {
  font-size: 18px;
  height: 80px;
  padding: 30px 0 6px 10px;
  border-left: 10px solid #A6D8CB;
  border-bottom: 2px solid #A6D8CB;
}

.marafon__btn {
  background-color: #4caf50;
  border: 2px solid #4caf50;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  font-weight: 700;
  transition: 0.8s;
}

.marafon__btn:hover {
  color: #4caf50;
  background-color: white;
}
